<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form> <!--#myform="ngForm" (ngSubmit)="submitForm(this.myform)">-->
        <div class="form-group">
          <label>UserId</label>
          <input *ngIf="onEditNotClicked" type="text" name="UserID" class="form-control" disabled [value]="profile.userId"/>
          <input *ngIf="onEditClicked" type="text" name="UserID" class="form-control" [value]="profile.userId"/>
        </div>

        <div class="form-group">
          <label>UserName</label>
          <input *ngIf="onEditNotClicked" type="text" name="UserName" class="form-control" disabled [value]="profile.userName"/>
          <input *ngIf="onEditClicked" type="text" name="UserName" class="form-control" [value]="profile.userName"/>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input *ngIf="onEditNotClicked" type="text" name="Email" class="form-control" disabled [value]="profile.email"/>
          <input *ngIf="onEditClicked" type="text" name="Email" class="form-control" [value]="profile.email"/>
        </div>

        <div class="form-group">
          <label>Role</label>
          <input *ngIf="onEditNotClicked" type="text" name="Role" class="form-control" disabled [value]="profile.role"/>
          <input *ngIf="onEditClicked" type="text" name="Role" class="form-control" [value]="profile.role"/>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input *ngIf="onEditNotClicked" type="text" name="password" class="form-control" disabled [value]="profile.password"/>
          <input *ngIf="onEditClicked" type="text" name="password" class="form-control" [value]="profile.password"/>
        </div>
        <br>
        <input *ngIf="onEditNotClicked" (click)="editProfile()" type="button" class="btn btn-primary btn-block" value="Edit Profile">
        <input *ngIf="onEditClicked" type="button" class="btn btn-primary btn-block" value="Save Changes">
        <input type="button" class="btn btn-primary btn-block" routerLink="\home" value="Back">
      </form>


    </div>

    <div class="col-md-4"></div>

  </div>
</div>

