<div class="row pt-5 border">
  <div class="col-md-6 mx-auto">
    <div class="card-rounded-0">
      <div class="class-header mx-5x` ">
        <h3 class="mb-0 mx-2">Login</h3>
      </div>
      <div class="card-body">
        <form class="form" autocomplete="off">
          <div class="form-group">
            <label>Email</label>
            <!--<input type="email" name="email" class="form-control rounded-8" [(ngModel)]="checkemail" required>-->
            <input type="text" name="name" class="form-control rounded-8" [(ngModel)]="checkemail" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control rounded-8" [(ngModel)]="checkpassword" required>
          </div>
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <button type="button" class="btn btn-primary float right mx-5" (click)="checkLogin()">Login</button>
            <button type="button" class="btn btn-primary float right " routerLink="/home">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
